<main class="container">
  <h2>Корзина</h2>
  <div class="cart__wrapper">
    {% if basket is not empty %}
    <ul class="cart__list">
      {% for good in basket %}
      <li class="card-product" data-item="{{good.basket_id}}">
        <div class="card-product__title-wrapper">
          <img class="card-product__img" src="/img/catalog/{{good.path}}" alt="{{good.name_product}}" width="70" height="70">
          <h3 class="card-product__heading">
          {{good.name_product}}
          </h3>
        </div>
        <p>
          {{good.price}}
        </p>
        <p>
          {{good.quantity}}
        </p>
        <p>
          {{good.price * good.quantity}}
        </p>
        <button class="button-delete" type="button" data-basket="{{good.basket_id}}">
          <img src="/img/delete.svg" alt="delete">
        </button>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <div class="cart__empty-wrapper">
      <div class="cart__empty">
        Корзина пустая
      </div>
    </div>
    {% endif %}
    <div class="cart__purchase">
      <div class="cart__sum">
        <p>
          Сумма покупки: <span id="sum">{{sumBasket}}</span>
        </p>
      </div>
      <a class="button" href="/orders/orders">Оформить покупку</a>
    </div>
  </div>

  {% if oldBaskets is not empty %}
  <h3>
    Ранее оформленные заказы
  </h3>
  <ul>
    <li class="admin-item admin-item-green">
      <div></div>
      <ul class="admin-product">
          <li class="admin-info-product">
            <p>Наименование товара:</p>
            <p>Цена:</p>
            <p>Количество:</p>
          </li>
        </ul>
        <p>Сумма заказа:</p>
        <p>Статус заказа:</p>
      </li>
    {% for key, order in oldBaskets %}
      <li class="admin-item {{key % 2 == 0 ? 'admin-item-gray': 'admin-item-green' }}">
      <div class="admin-info">
        <p>Номер заказа: {{order.id}}</p>
      </div>

      <ul class="admin-product">
        {% for productsList in order.productsList %}
        <li class="admin-info-product">
          <p>{{productsList.name_product}}</p>
            <p>{{productsList.price}}</p>
            <p>{{productsList.quantity}}</p>
        </li>
        {% endfor %}
      </ul>
      <p>{{order.sum}}</p>
      <div>
        <p data-status-id="{{order.id}}">{{order.status}}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</main>